.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20vh;
    inset: 0;
    position: fixed;
    background-color: #9589b1;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list li{
    font-size: min(1.3rem, 1.5vw);
    list-style: none;
    margin: 0 1vw;
    cursor: pointer;
    
}

.list li a{
    text-decoration: none;
    color: rgb(21, 82, 27);
}


@media (max-width: 1250px){
    .header{
        flex-direction: column;
    }
}


@media (max-width: 900px){
    .header{
        position: relative;
        height: 40vh;
    }
    .list{
        display: grid;
        grid-template-columns: 2fr 1fr;
        flex-direction: column;
        height: 20vh;
    }
    .list li{
        font-size: 1rem;
        margin: 0;
    }
}